{% extends 'base.html' %}

{% block title %}
    Chat Message
{% endblock %}

{% block content%}
    <div class="col-12 d-flex justify-content-center">
        <div class="container border border-dark p-4">
            <div class="mb-3">
                <ul id="msg_list">
                    <li>Adasdsad</li>
                    <li>wqeqwewqeqw</li>
                </ul>
            </div>
{#            <form action="" method="post" id="chat_form">#}
                {% csrf_token %}
              <div class="mb-3">
                <label for="msg" class="form-label">Type Message</label>
                <input type="text" class="form-control" id="msg" aria-describedby="emailHelp">
              </div>
               <div class="col-12">
                   <button type="submit" onclick="sendMsg()" class="btn btn-sm btn-primary">Send</button>
               </div>

{#            </form>#}
        </div>
    </div>

{% endblock %}

{% block custom_script %}
<script>
    $(document).ready(function () {
        console.log('ready');
        $('#chat_form').submit(function (e) {
            var data = $('#msg').val();
            $('#msg_list').append('<li>'+data+'</li>');
            e.preventDefault();
        });
    })
</script>
<script>
    console.log(window.location);
    const websocket_url = 'ws://'+window.location.host+'/ws/chat/messageRoom';
    const socket = new WebSocket(websocket_url);

    socket.onopen = function(e){
        console.log('open',e)
    };
    socket.onmessage= function(e){
        console.log('message',e.data);
    };
    socket.onclose= function(e){
        console.log('close',e)
    };
    socket.onerror= function(e){
        console.log('error',e)
    };
    
    function sendMsg() {
        socket.send(JSON.stringify({
            'msg':$('#msg').val(),
            'status':'success'
        }))
    }

</script>
{% endblock %}